.main {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/gif/5.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nadine {
    width: 70%;
    height: 70%;
    background-color: white;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;

}

.picbox {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100px;
}

.pic {
    background-color: tomato;
    width: 20%;
    height: 100%;
    border-radius: 50%;

}

.socialmedia {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;


}

.link {
    
}

.link img {
    width: 50px;
}