.main {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/gif/5.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 70%;
    height: 70%;
    background-color: white;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 24px 25px 0px 1px rgba(0,0,0,1);

}

.picbox {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100px;
}

.pic img {
    /* background-color: tomato; */
    width: 150px;
    height: 150px;
    /* width: 20%; */
    /* height: 100%; */
    border-radius: 50%;
    margin-top: 50px;

}

.textbox {
    position: relative;
}



.socialmedia {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;


}

.link {
    
}

.link img {
    width: 50px;
}

