
/* COMMON RULES */

@font-face {
    font-family: "bit-font";
    src: url('./fonts/gamegirlclassic-9mvj-webfont.woff2') format("woff2"),
           url("./fonts/gamegirlclassic-9mvj-webfont.woff") format("woff");
   }

*,*:before,*:after {
    box-sizing: border-box;
}

.h2 {
    color: midnightblue;
    border: 1px solid;
    margin: 0;
    padding: 30px;
    text-align: center;
    margin: 20px;
}

.message {
    color:white;
    font-size: 40px;
}

/* NAVBAR */
.navigation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid black;
}

.navigation li {
    list-style: none;
}

a {
    color: black;
    font-size: 20px;
    transform: uppercase;
}

/* MAIN PART */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D3BFF;
    border: 1px solid black;
    height: 100vh;
    background-image: url(./assets/gif/5.gif);
    background-size: cover;
}


.play-again-btn {
    border: 1px solid black;
    margin: 20px;

}
